
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.top { 
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 150px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.heromain {
    display: flex;
    margin: 50px 150px;
}

.leftmain {
    display: flex;
    flex-direction: column;
}

.box {
    outline: 2px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 150px;
    gap: 50px;
}

.secondsecond {
    display: flex;
    gap: 40px;
}

#thor {
    display: flex;
    justify-content: end;
}

.fourth {
    display: flex;
}

.firstfourth {
    display: flex;
    flex-direction: column;
}